@if (mockData.length > 0){
<div class="mockup-code text-sm bg-base-200 shadow p-4">
    [<br>
    @for (item of mockData.slice(0,1000); track item; let last = $last) {
        <code class="pl-3">&#123;</code><br>
        @for (key of objectKeys(item); track key; let last = $last) {
            <code class="pl-8"><span class="attr">"{{ key }}"</span>:&nbsp;<span class="value" [class.number]="isNum(item[key])">{{addQuote(item[key])}}{{ item[key] }}{{addQuote(item[key])}}{{ last ? '' : ',' }}</span></code><br>
        }
        <code class="pl-3">&#125;</code>{{ last ? '' : ',' }}<br>
    }
    @if(mockData.length > 1000){
        <code class="pl-3">. . .</code><br>
    }
    ]
</div>
}