<section class="section-padding">
    <h2 class="text-center text-lg mb-2">Parameters</h2>

    <table id="itemSubdivisions" class="table table-fixed w-full">
        <thead style="text-align: left;">
            <th class="pl-0 w-1/5">Attribute Name</th>
            <th class="pl-0 w-3/5">Accepted values <em class="font-normal">- sepenated by commas (,)</em></th>
            <th class="pl-0 w-1/5">Type</th>
        </thead>
        <tbody>
            @for (item of itemNum; track i; let  i = $index) {
                @if (!isPreviousRowEmpty(i)) {
                    <tr [id]="'row_' + i" class="py-1">
                        <td class="px-0">
                            <input 
                                [id]="'attr_' + i"
                                class="input w-[97%] font-bold" 
                                [(ngModel)]="items[i].attrName"/>
                        </td>
                        <td class="p-0">
                            <input 
                                [id]="'value_' + i"
                                class="input w-[99%] "
                                [(ngModel)]="items[i].valueStr"/>
                        </td>
                        <td class="p-0">
                                <select class="select w-[100%]">
                                    <option selected>Text</option>
                                    <option>Boolean</option>
                                    <option>Numeric</option>
                                    <option>Integer Range</option>
                                    <option>Float Range</option>
                                  </select>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <h3 class="text-center my-2">Import from File</h3>
    <div class="flex justify-center mt-3">
        <app-file-input (fileData)="onFileUpload($event)"/>
    </div>
</section>

<section class="section-padding">
    <h2 class="text-center text-lg mb-4">Options</h2>

    <div class="grid grid-cols-2 gap-4">
        <label class="input w-[100%]">
            <span class="label">Output Counter</span>
            <input 
                type="number" 
                class="text-lg" 
                id="outputCounter"
                [(ngModel)]="createSettings.outputCount"/>
        </label>    

        <label class="input w-[100%]">
            <span class="label">Output Name</span>
            <input 
            type="text"
            class="text-lg" 
            id="outputName"
            [(ngModel)]="filename"/>
        </label>  

        <label class="input w-[100%]">
            <span class="label">SQL Table Name</span>
            <input 
                type="text"
                class="text-lg"
                id="tableName"
                [(ngModel)]="tableName"/>
        </label>  

        <label class="select w-[100%]">
            <span class="label">Probability Function</span>
            <select class="select" [(ngModel)]="createSettings.descProbability">
                <option selected>Flat</option>
                <option>Linear</option>
              </select>
        </label>

        <div class="flex items-center">
            <label for="enableID">Add ID (auto increment)</label>&nbsp;
            <input type="checkbox"  class="checkbox" id="enableID" [(ngModel)]="createSettings.enableID"/>


        </div>
    </div>

    
    <div class="text-center mt-6">
        <button class="btn btn-primary mr-1" (click)="onSubmit()" [disabled]="formEmpty()">
            <span class="material-icons">visibility</span>
            Preview
        </button>
        <button class="btn btn-soft mr-1" (click)="onExportParameters()" [disabled]="formEmpty()">
            <span class="material-icons">settings</span>
            Export Parameters
        </button>
        <button class="btn btn-soft mr-1" (click)="onExportJSON()" [disabled]="output.length < 1">
            <span class="material-icons">data_object</span>
            Export JSON
        </button>
        <button class="btn btn-soft mr-1" (click)="onExportSQL()" [disabled]="output.length < 1">
            <span class="material-icons">storage</span>
            Export SQL
        </button>
        <button class="btn btn-soft btn-error" (click)="clear()">
            <span class="material-icons">delete</span>
            Clear
        </button>
    </div>
</section>

<section class="section-padding">
    @if(loading){
        <div class="text-center">
            <span class="loading loading-ring loading-xl"></span>
        </div>
    }
    @if(output.length > 0){
        <app-previewer [mockData]="output"/>
    }
</section>



